[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
pandas-preprocessor = {editable = true, path = "."}
numpy = "*"
pandas = "*"
scikit-learn = "*"
twine = "*"
pytest = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
